{% extends "restaurant/base.html" %} {% block content %}
<div
  style="
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  "
>
  <img
    src="https://s3-media1.fl.yelpcdn.com/bphoto/_q61uvpXQacqZt7R99lF4Q/l.jpg"
    width="250"
    height="250"
  />
  <img
    src="https://s3-media0.fl.yelpcdn.com/bphoto/rlAa5TDc_p_zbWexRNH7eA/348s.jpg"
    width="250"
    height="250"
  />
</div>

<div>
  <p>
    Welcome to Donut's Donuts! We hope you find our donuts delicious and
    flavorful! We have lots of donuts of many different flavors!
    <br />
    We hope you enjoy your stay.
  </p>

  <p>For more information, contact us.</p>
  <div style="display: flex; align-items: center; justify-content: center;">
  <ul>
    <li>Donut's Donuts</li>
    <li>168 Mulholland Drive, Chicago, Illinois, 60007</li>
    <li>
      Hours of Operations:
      <ul>
        <li>Monday: 9:30-5pm</li>
        <li>Tuesday: Closed</li>
        <li>Wednesday: 9:30-5pm</li>
        <li>Thursday: Closed</li>
        <li>Friday: 9:30-5pm</li>
        <li>Saturday: Closed</li>
        <li>Sunday: Closed</li>
      </ul>
    </li>
  </ul>
</div>
</div>

{% endblock content %}
