{% extends "mini_fb/base.html" %}

{% block content %}
{% comment %} Jianhui Hou, jhou22@bu.edu, html for creating status forms {% endcomment %}

<h2 id='create-status-form'>Post a status message for {{status_message.first_name}} {{status_message.last_name}}</h2>

<form method="POST" enctype='multipart/form-data'>
    <table>
        {{form.as_table}}
    
        <tr>
            <td></td>
            <td>
                <!-- we need to add the submit button ourselves -->
                <input type="file" name = "files" multiple />
                <input type="submit" name="Create Status Message" value='create'>
                {% csrf_token %}
            </form>
        </td>
        </tr>
        </table>
</form>
{% endblock content %}

