
{% extends "mini_fb/base.html" %} {% block content %}
{% comment %} Jianhui Hou, jhou22@bu.edu, html file for showing profiles {% endcomment %}

<main class="profile_container">
  {% for p in profiles %}
  <article>
    <div>
      <h2>
        <a href="{% url 'show_profile' p.pk %}"
          >{{p.first_name}} {{p.last_name}}</a
        >
      </h2>
      <h3>From the city of {{p.city}}</h3>
      <a href="{% url 'show_profile' p.pk %}"
        ><img src="{{p.profile_image_url}}" width="200" height="200"
      /></a>
    </div>
  </article>
  {% endfor %}
</main>
{% endblock content %}
